<!--
Citation for the following Handlebars code:
Date: 8/9/2024
Adapted from
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 
The navigation and header were added to the code to better suit project.
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sports Event Management System</title>
    <link rel="stylesheet" href="/css/design.css">
</head>
<body>
<header>
    <h1>Sporting Events Management System</h1>
    <p>Sporting events data management made easy!</p>
</header>
<nav>
    <a href="/">Homepage</a>
    <a href="/events">Events</a>
    <a href="/leagues">Leagues</a>
    <a href="/teams">Teams</a>
    <a href="/sports">Sports</a>
    <a href="/players">Players</a>
    <a href="/venues">Venues</a>
    <a href="/streamingservices">Streaming Services</a>
</nav>
<main>

    {{{body}}}

</main>
</body>

<footer>
    <p>
        &copy; 2024 CS340 Team 100: Anthony Prudent - Mei Murakami - Abdulelah Alanazi
    </p>
</footer>

</html>
